:root {
  --background-color: #fbf7ea;
  --text-color: #ff4a4a;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Verdana;  
}

a {
  color: var(--text-color)
}

footer {
  margin-top: 3rem;
}
footer > nav {
  text-align: center;
}
footer > nav > ul {
  list-style-type: none;
}

img {
  max-width:100%;
  max-height:100%;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    width: 50%;
    margin: auto;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }